<section class="d-flex justify-center main-user-info-section">
  <div class="main-profile-content">
    <div class="d-flex justify-center">
      <div class="profile-picture">
        <div class="circle">
          <img src="../../../assets/public/images/profile-picture.png" alt="profile picture" width="100%" />
        </div>
        <div class="sub-circle">
          <mat-icon>camera_alt</mat-icon>
        </div>
      </div>
    </div>

    <div class="profile-username">
      <h2>
        Susan Young
      </h2>
    </div>

    <div>
      <form [formGroup]="userInfoForm">
        <mat-form-field class="full-width align-right">
          <span matPrefix class="user-info-label">Email</span>
          <input type="email"
                 matInput
                 [errorStateMatcher]="matcher"
                 formControlName="email">
          <mat-error *ngIf="userInfoForm.controls.email.hasError('email') && !userInfoForm.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="userInfoForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width align-right">
          <span matPrefix class="user-info-label">Age</span>
          <input type="number"
                 matInput
                 [errorStateMatcher]="matcher"
                 formControlName="age">
          <mat-error *ngIf="userInfoForm.controls.age.hasError('required')">
            Age is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width align-right">
          <span matPrefix class="user-info-label">Gender</span>
          <mat-select formControlName="system" [(ngModel)]="gender[0].value">
            <mat-option *ngFor="let data of gender" [value]="data.value">{{ data.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="userInfoForm.controls.system.hasError('required')">
            Gender is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width align-right">
          <span matPrefix class="user-info-label">Measurement system</span>
          <mat-select formControlName="system" [(ngModel)]="systems[0].value">
            <mat-option *ngFor="let system of systems" [value]="system.value">{{ system.name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="userInfoForm.controls.system.hasError('required')">
            Measurement system is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width align-right">
          <span matPrefix class="user-info-label">Height</span>
          <input type="number"
                 matInput
                 [errorStateMatcher]="matcher"
                 formControlName="height">
          <mat-error *ngIf="userInfoForm.controls.height.hasError('required')">
            Height is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class="profile-picture-btn">
          <button class="btn-submit" mat-button>
            Save
          </button>
        </div>

      </form>
    </div>
  </div>
</section>
