@import '../../../_variables';

.main-user-info-section {

  .main-profile-content {
    width: 288px;

    .profile-picture {
      width: 163.52px;
      height: 163.52px;
      overflow: hidden;
      position: relative;


      .circle {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .sub-circle {
        width: 35.43px;
        height: 35.43px;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary-color;
        background: linear-gradient(45deg, $primary-color 0%, rgba(5,160,231,1) 35%, $accent-color 100%);
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: #fff;
        font-size: 13px;
      }
    }

    .profile-username {
      margin-bottom: 15px;
      text-align: center;
    }

    .profile-info {
      height: 58px;
    }

    .profile-picture-btn {
      margin-top: 26px;
      text-align: center;
    }

    .user-info-select {
      padding-top: 15px;
    }
  }
}

input::placeholder {
  text-align: right;
}

.user-info-section {
  height: 58px;
  border-bottom: 1px solid $underline-color;
}

.label-section {
  padding-top: 15px;
}

@media only screen and (max-width: 420px) {
  .main-user-info-section {
    margin-top: 17px;
    .profile-info {
      padding: 15px 0 !important;
    }
  }
}
