<section>
  <div>
    <h3 class="align-center cheat-title">
      Cheat Meals
    </h3>
  </div>
  <div mat-dialog-content>
    <div class="d-flex justify-center">
      <div class="cheat-meals-content">
        <div>
          <mat-form-field  class="full-width">
            <mat-label>Quantity</mat-label>
            <input type="number"
                   matInput
                   [(ngModel)]="option.quantity"/>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill"  class="full-width">
            <mat-label>Favorite food</mat-label>
            <mat-select [(ngModel)]="option.food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="warning-section d-flex justify-space-between">
      <div class="warning-icon">
        <img src="../../../../assets/public/icons/warning.svg" alt="warning">
      </div>
      <div class="warning-message">
        You have exceeded the maximum
        allowance of Cheat Calories per week.
        It is advisable that you do not have any
        more Cheat Meals.
      </div>
    </div>
    <div class="d-flex justify-space-between">
      <div>
        Replace food
        <mat-icon class="info-icon" (click)="openInfoPopUp()">info</mat-icon>
      </div>
      <div>
        <mat-slide-toggle color="primary" [(ngModel)]="finallyData.isCheat" (change)="changeIsCheat(finallyData.isCheat)">
        </mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="bottom-button d-flex justify-center" mat-dialog-actions>
    <div class="cheat-meals-btn align-center">
      <button class="btn-submit" (click)="updateData()" [mat-dialog-close]="{finallyData: finallyData, isCleanDiet: isCleanDiet}">
        Submit
      </button>
    </div>
  </div>
</section>
