.cheat-title {
  margin-bottom: 30px;
}

.cheat-meals-content {
  width: 370px;
  margin-bottom: 20px;
}

.cheat-meals-btn {
  width: 310px;
  padding-bottom: 40px;
}

.bottom-button {
  padding-bottom: 20px;
}

.all-added-data {
  margin-top: 50px;
  max-height: 150px;
  padding: 0 15px;
  overflow: auto;
  margin-bottom: 30px;
}

.add-cheat-food {
  margin-top: 30px;
}
