@import "./../../../../variables";

.select-meals {
  width: 700px;

  .week-meals {
    overflow: auto;
    height: 63vh;

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #ffffff;
    }

    &::-webkit-scrollbar
    {
      width: 0;
      background-color: #ffffff
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      background-color: #ffffff;
    }
  }

  .current-meal {
    width: 80%;
    margin-top: 30px;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid $underline-color;
  }

  @media only screen and (max-width: 720px) {
    width: 100%;

    .current-meal {
      width: 100%;
    }
  }
}

.btn-submit-parent {
  margin-top: 100px;
  width: 360px;

  @media only screen and (max-width: 620px) {
    width: 100%;
    font-size: 13px;
  }
}

.mat-tab-label {
  min-width: 72px !important;
}
