<section class="d-flex justify-center">
  <div class="select-meals">
    <div class="week-meals week-tabs">
      <mat-tab-group class="full-height">
        <mat-tab *ngFor="let week of weeks" [label]="week.weekName" class="week-tab">
          <div class="meals-content d-flex justify-center">
            <div class="current-meal d-flex justify-space-between" *ngFor="let meal of week.meals">
              <div class="meal-name">
                {{ meal.name }}
              </div>
              <div>
                <mat-slide-toggle color="primary" [(ngModel)]="meal.isSelect" (change)="changeAllAmount(meal)"></mat-slide-toggle>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <div class="under-section d-flex justify-center">
      <div class="btn-submit-parent align-center">
        <p>
          Total Price: € {{ amount }}
        </p>
        <button class="btn-submit" mat-button (click)="nextStep()">
          NEXT
        </button>
      </div>
    </div>
  </div>
</section>
