@import "./../../../../variables";

.select-meals {
  width: 700px;

  .week-meals {
    overflow: auto;
    height: 63vh;

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #ffffff;
    }

    &::-webkit-scrollbar
    {
      width: 0;
      background-color: #ffffff
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      background-color: #ffffff;
    }
  }

  .current-meal {
    width: 80%;
    padding: 20px 10px 20px 0;
    overflow: hidden;
    border-bottom: 1px solid $underline-color;

    .meal-name {
      font-weight: 500;
    }
  }

  @media only screen and (max-width: 720px) {
    width: 100%;
    margin: 0 25px;

    .current-meal {
      width: 100%;
    }
  }
}

.under-section {
  margin-bottom: 30px;
}

.btn-submit-parent {
  margin-top: 70px;
  width: 360px;

  @media only screen and (max-width: 620px) {
    margin-top: 20px;
    width: 100%;
    font-size: 13px;
  }
}

.mat-tab-label {
  min-width: 72px !important;
}
