<section>
  <div class="d-flex justify-center">
    <div class="foods-section">
      <div>
        <mat-tab-group>
          <mat-tab [label]="'Enabled (' + foods.length + ')'">
            <div class="enabled-foods">
              <div class="food-section" *ngIf="foods.length > 0; else elseBlock">
                <div class="food-info d-flex justify-space-between" *ngFor="let food of foods">
                  <div class="food-text-context">
                      {{ food.name }}
                    </div>
                  <div class="food-text-context">
                    <mat-slide-toggle color="primary" [(ngModel)]="food.isEnabled"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <div class="food-section">
                  <p class="message-missing-data align-center">
                    No data for show
                  </p>
                </div>
              </ng-template>
            </div>
          </mat-tab>
          <mat-tab [label]="'Disabled (' + disabledFoods.length + ')'">
            <div class="enabled-foods">
              <div *ngIf="disabledFoods.length > 0; else elseBlock" class="food-section">
                <div class="food-info d-flex justify-space-between" *ngFor="let food of disabledFoods">
                  <div class="food-text-context">
                      {{ food.name }}
                    </div>
                  <div class="food-text-context">
                    <mat-slide-toggle color="primary" [(ngModel)]="food.isEnabled"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <div class="food-section">
                  <p class="message-missing-data align-center">
                    No data for show
                  </p>
                </div>
              </ng-template>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="bottom-btn">
    <div class="btn-submit-parent">
      <button class="btn-submit" mat-button (click)="saveChanges()">
        Save
      </button>
    </div>
  </div>
</section>
