@import "../../../variables";

.enabled-foods, .disabled-foods {
  padding: 0 20px;
}

.food-section {
  width: 370px;
  margin-top: 10px;
  height: 72vh;
  padding: 0 10px;
  overflow: auto;

  &::-webkit-scrollbar-track
  {
    border-radius: 10px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar
  {
    width: 5px;
    background-color: #ffffff
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: #ffffff;
  }

  &:hover {
    &::-webkit-scrollbar-thumb
    {
      background-color: #D5D5D5;
    }
  }

  .food-text-context {
    line-height: 77px;
    white-space: nowrap;
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media only screen and (max-width: 620px) {
    width: 100%;
    padding: 0 10px;

    &::-webkit-scrollbar-thumb
    {
      background-color: #D5D5D5;
    }
  }
}

.food-info {
  border-bottom: 1px solid $modo-gray;
}

.btn-submit-parent {
  background-color: transparent;
  text-align: center;

  button {
    width: 370px;

    @media only screen and (max-width: 620px) {
      width: 270px;
    }
  }
}
