@import "../../../variables";

.btn-submit-parent {
  background-color: transparent;
  text-align: center;
  width: 231px;
}

.food-section {
  position: relative;
  width: 302px;
  margin-top: 10px;
  overflow: auto;

  &::-webkit-scrollbar-track
  {
    border-radius: 10px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar
  {
    width: 0;
    background-color: #ffffff
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-color: #ffffff;
  }

  &:hover {
    &::-webkit-scrollbar-thumb
    {
      background-color: #D5D5D5;
    }
  }

  &:last-child {
    margin-bottom: 90px;
  }

  .food-text-context {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .food-name {
    cursor: pointer;
    color: $modo-gray;
  }
}

.food-info {
  border-bottom: 1px solid $modo-gray;

  .food-info-connect {
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.bottom-btn {
  position: fixed;
  z-index: 999;
  margin-left: -20px;
  display: flex;
  bottom: 0;
  padding: 25px 0;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  justify-content: center;
  width: 100%;
}
