<section>
  <div class="d-flex justify-center">
    <div class="foods-section">
      <div>
        <mat-tab-group>
          <mat-tab [label]="'Enabled (' + foods.length + ')'">
            <div class="enabled-foods">
              <div class="food-section" *ngIf="foods.length > 0; else elseBlock">
                <div class="food-info d-flex justify-space-between" *ngFor="let food of foods">
                  <div>
                    {{ food.name }}
                  </div>
                  <div>
                    <mat-slide-toggle color="primary" [(ngModel)]="food.isEnabled"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <p class="food-info message-missing-data align-center">
                  No data for show
                </p>
              </ng-template>
            </div>
          </mat-tab>
          <mat-tab [label]="'Disabled (' + disabledFoods.length + ')'">
            <div class="disabled-foods">
              <div *ngIf="disabledFoods.length > 0; else elseBlock" class="food-section">
                <div class="food-info d-flex justify-space-between" *ngFor="let food of disabledFoods">
                  <div>
                    {{ food.name }}
                  </div>
                  <div>
                    <mat-slide-toggle color="primary" [(ngModel)]="food.isEnabled"></mat-slide-toggle>
                  </div>
                </div>
              </div>
              <ng-template #elseBlock>
                <p class="food-info align-center">
                  No data for show
                </p>
              </ng-template>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="btn-submit-parent">
        <button class="btn-submit" mat-button (click)="saveChanges()">
          Save
        </button>
      </div>
    </div>
  </div>
</section>
