@import "../../../variables";

.chat-body {
  padding-bottom: 20px;
  height: calc(100vh - 135px);
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
  position: relative;


  .main-chat-content {
    width: 800px;

    .messages-main-content {
      height: 95%;
      overflow: auto;
      scroll-padding-top: 100%;

      .message-content {
        margin: 14px 0;

        .message {
          padding: 22px 22px 14px 32px;
          word-wrap: break-word;
          font-size: 14px;
          overflow: hidden;
          max-width: 190px;
        }
      }

      .friend-message {

        .message-content {
          display: flex;
          justify-content: flex-start;

          .message {
            border: 1px solid #A7A7A7;
            color: #5D5D5D;
            line-height: initial;
            border-radius: 50px 50px 50px 0;
          }
        }
      }

      .my-message {

        .message-content {
          display: flex;
          justify-content: flex-end;

          .message {
            background-color: $primary-color;
            color: #ffffff;
            border-radius: 50px 50px 0 50px;
          }
        }
      }
    }

    .input-text {
      width: 100%;
      position: relative;
      border: 1px solid black;
      border-radius: 28px;
      display: flex;
      justify-content: space-between;

      .chat-button {
        float: right;
        right: 10px;
        top: 5px;
      }

      .textarea-text {
        background: transparent;
        padding: 10px 20px;
        width: 90%;
        outline: unset;
        border: unset;
      }
    }

    @media only screen and (max-width: 810px) {
      width: 100%;
    }
  }
}
