<mat-drawer-container class="container" [hasBackdrop]="true">
  <mat-toolbar class="top-sidebar">
    <span class="page-sub-title">
      {{ title }}
    </span>
    <span class="spacer"></span>
    <div class="menu-icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </div>
  </mat-toolbar>

  <mat-drawer #drawer mode="over" position="end" class="sidenav">
    <div class="d-flex justify-flex-end nav-bar-header">
      <div class="user-info">
        <p>
          Susan Young
        </p>
        <p>
          72 points/level 1
        </p>
      </div>
      <div>
        <div class="circle-avatar">
          <img src="../../../assets/public/images/profile-picture.png" alt="" width="100%" />
        </div>
      </div>
    </div>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let sidenavLink of sidenavLinks"
        (click)="changePage(sidenavLink.title, sidenavLink.path); drawer.toggle();"
      >
        {{ sidenavLink.name }}
      </a>
      <a
        mat-list-item
        (click)="logout()"
      >
        Sign out
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
