@import "../../../../variables";

.like-icon {
  cursor: pointer;
  margin-right: 10px;

  &:hover {
    color: $primary-color;
  }

  &:focus {
    color: $primary-color;
  }
}

.rightFood {
  color: $primary-color;
}

.submit-parent {
  width: 80%;
  margin-top: 15px;
}
