@import '../variables';

.container {
  height: 100%;
}

.sidenav {
  background-color: $primary-color;
  color: white;
  padding: 38px 57px;
  width: 310px;

  @media only screen and (max-width: 600px) {
    padding: 41px 36px;
    width: 270px;
  }

  .mat-list-item {
    color: white;
  }
}

.logo {
  text-decoration: none;
  color: $primary-color;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 30px 20px;
  text-align: center;
}
