@import '../../../variables';

.current-subscription {
  font-size: 17px;
  line-height: 20px;
  color: $modo-gray;
  margin-top: 82px;

  @media only screen and (max-width: 600px) {
    margin-top: 15px;
  }
}

.subscription-btn {
  width: 288.98px !important;
}

.subscription-plans {
  margin-top: 110px;
  margin-bottom: 125px;
  font-size: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .subscription-plan {
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 6px solid $underline-color;
    border-radius: 50%;
    cursor: pointer;

    &.active {
      border-color: $accent-color;
    }

    .plan-name {
      padding-bottom: 20px;
    }

    @media only screen and (max-width: 620px) {
      width: 90px;
      height: 90px;
      margin-top: 22px;
      flex-direction: column;
      font-size: 15px;
      margin-bottom: 65px;

      .plan-name {
        padding-bottom: 10px;
      }
    }
  }

  @media (max-width: 620px) {
    margin-bottom: 85px;
  }

}

.cancel-subscription-section {
  margin-top: 10px;
}

@media only screen and (max-width: 420px) {
  .subscription-btn-parent {
    margin-top: 68px;
  }

  .title {
    margin-bottom: 0 !important;;
  }

  .subscription-plans {
    margin: 6.5px auto;
    display: block;
    width: 30%;

    .subscription-plan {
      margin-bottom: 0;
      margin-top: 27.8px;
    }
  }
}
