@import "./../../../variables";

.main-diet-info-section {

  .main-container {
    width: 370px;

    .diet-info-container {
      margin-top: 23px;
      border-bottom: 1px solid $underline-color;
      padding-bottom: 10px;

      .diet-info {
        line-height: 20px;

        .diet-info-icon {
          display: flex;
          align-items: center;
          width: 15%;
        }

        .diet-info-select {
          width: 80%;
        }

        .diet-info-title {
          color: #6F6F6E;
        }
      }

      @media (max-width: 620px) {
        margin-top: 15px;
      }
    }

    .btn-submit-parent {
      margin: 30px 0;
      width: 288px;

      @media (max-width: 420px) {
        width: 100%;
      }
    }
  }

  .info-icon-parent {
    position: absolute;
    right: 30px;
    bottom: -7px;
    cursor: help;

    .info-icon {
      width: 17px;
      height: 17px;
      color: #C6C6C6;
    }
  }
}

