.main-container {
  width: 370px;

  .diet-info-container {
    margin-top: 23px;

    .diet-info {
      line-height: 20px;

      .diet-info-icon {
        display: flex;
        align-items: center;
        margin-right: 34px;
      }

      .diet-info-title {
        color: #6F6F6E;
      }
    }
  }

  .btn-submit-parent {
    margin-top: 80px;
    width: 80%;
  }
}
