<section>
  <div class="auth-main-form d-flex justify-center">
    <div class="checkout-form main-content">
      <form class="auth-form" [formGroup]="checkoutForm">
        <!--        Date -->
        <div class="form-div">
          <mat-datepicker #picker class="date-picker"></mat-datepicker>
          <label for="delivery-date" class="auth-label">
            Delivery date
          </label>
          <mat-form-field class="full-width" appearance="fill" (click)="picker.open()">
            <input matInput id="delivery-date" [matDatepicker]="picker">
            <mat-icon matSuffix>arrow_drop_down</mat-icon>
          </mat-form-field>
        </div>
<!--        Delivery address-->
        <div class="form-div d-flex">
          <label for="address" class="auth-label">Delivery address</label>
          <mat-form-field class="full-width form-inputs">
            <input
              id="address"
              class="auth-input"
              matInput
              [errorStateMatcher]="matcher"
              formControlName="address"
            />
            <mat-error *ngIf="checkoutForm.controls.address.hasError('required')">
              Delivery address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
<!--        Telephone-->
        <div class="form-div d-flex">
          <label for="phone" class="auth-label">Telephone</label>
          <mat-form-field class="full-width form-inputs">
            <span matPrefix>+</span>
            <input
              id="phone"
              type="number"
              class="auth-input"
              matInput
              [errorStateMatcher]="matcher"
              formControlName="phone"
            />
            <mat-error *ngIf="checkoutForm.controls.phone.hasError('required')">
              Telephone is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
<!--        Flat & Floor -->
        <div class="form-div d-flex">
          <div class="w-50">
            <!--          Flat-->
            <mat-form-field class="full-width form-inputs">
              <label for="flat" class="auth-label">Flat</label>
              <input
                id="flat"
                class="auth-input"
                type="number"
                matInput
                [errorStateMatcher]="matcher"
                formControlName="flat"
              />
              <mat-error *ngIf="checkoutForm.controls.flat.hasError('required')">
                Flat is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="w-50">
            <!--          Floor-->
            <mat-form-field class="full-width form-inputs">
              <label for="floor" class="auth-label">Floor</label>
              <input
                id="floor"
                class="auth-input"
                type="number"
                matInput
                [errorStateMatcher]="matcher"
                formControlName="floor"
              />
              <mat-error *ngIf="checkoutForm.controls.floor.hasError('required')">
                Floor is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
<!--        Order Comments-->
        <div class="form-div d-flex">
          <label for="order-comments" class="auth-label">Order comments</label>

          <mat-form-field class="full-width form-inputs">
            <input
              id="order-comments"
              class="auth-input"
              matInput
              [errorStateMatcher]="matcher"
              formControlName="orderComments"
            />
            <mat-error *ngIf="checkoutForm.controls.orderComments.hasError('required')">
              Order comments is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
<!--        Payment Method-->
        <div class="form-div d-flex">
          <label for="payment-method" class="auth-label">Payment Method</label>

          <mat-form-field appearance="fill" class="full-width position-relative">
            <mat-select disableRipple
                        id="payment-method"
                        formControlName="paymentMethod">
              <mat-option *ngFor="let paymentMethod of paymentMethods"
                          [value]="paymentMethod.value"
                          (click)="choosePaymentMethod(paymentMethod)">
                <div  class="d-flex justify-space-between">
                  <div>
                    {{ paymentMethod.name }}
                  </div>
                  <div>
                    <img [src]="paymentMethod.icon" alt="payment icon">
                  </div>
                </div>
              </mat-option>
            </mat-select>
            <div *ngIf="currentPayment" class="current-payment-icon">
              <img [src]="currentPayment.icon" alt="Current Payment icon">
            </div>
            <mat-error *ngIf="checkoutForm.controls.paymentMethod.hasError('required')">
              Payment Method is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex justify-center">
          <div class="btn-submit-parent">
            <button class="btn-submit" mat-button>
              Checkout
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
