@import '../../../../variables';

.checkout-title {
  font-size: 30px;
}

.checkout-form {
  width: 370px;
  display: flex;

  form {
    width: 100%;

    .form-div {
      margin-bottom: 20px;

      .auth-input {
        color: #000;
      }
    }
  }

  .btn-submit-parent {
    margin-top: 20px;
    width: 80%;

    button {
      width: 100% !important;
    }
  }
}

.auth-label {
  color: $modo-gray;
}

.input-icon-div {
  margin-right: 10px;
  height: 20px;
  line-height: 60px;
}

.current-payment-icon {
  position: absolute;
  right: 30px;
  top: 0;
}
