<div class="title-header">
  <p class="title">Forgot Password</p>
</div>
<section class="auth-main-form d-flex justify-center">
  <form class="auth-form" [formGroup]="forgotPasswordForm">
    <div class="main-content">
      <div class="form-height">
          <div>
            <mat-form-field class="full-width form-inputs">
              <label for="email" class="auth-label">Enter email address</label>
              <input
                id="email"
                class="auth-input"
                matInput
                [errorStateMatcher]="matcher"
                [(ngModel)]="payload.email"
                formControlName="email"
              />
              <mat-error *ngIf="forgotPasswordForm.controls.email.hasError('email') && !forgotPasswordForm.controls.email.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="forgotPasswordForm.controls.email.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
      </div>

      <div class="error-message" *ngIf="error.show">
        {{ error.message }}
      </div>

      <div class="form-buttons forgot-password-buttons">
        <section class="align-center">
          <button (click)="forgotPassword()" class="btn-submit">Recover password</button>
        </section>

        <section class="form-footer">
          Back to
          <a routerLink="/" class="auth-url">
            login
          </a>
          page
        </section>
      </div>
    </div>
  </form>
</section>
