.auth-content {
  padding-top: 97px;
  background: #fff;

  @media (max-width: 1024px) and (min-width: 768px) {
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
}
