@import "../../../variables";

.main-list-content {
  width: 302px;

  .sub-list-content {
    height: 80vh;
    overflow: auto;

    &:last-child {
      padding-bottom: 20px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #ffffff;
    }

    &::-webkit-scrollbar
    {
      width: 0;
      background-color: #ffffff
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      background-color: #ffffff;
    }

    .list-title {
      font-size: 20px;
    }

    .ingredient-list {
      border-bottom: 1px solid $modo-gray;
      margin-bottom: 32px;

      .checkbox {
        width: 22px;
        height: 22px;
        border: 1px solid $modo-gray;
        border-radius: 50%;
        cursor: pointer;
      }

      .ingredient-name {
        width: 117px;
        display: flex;
        align-items: center;
      }

      .checkbox-section {
        padding-right: 10px;
      }

      .active-checkbox {
        cursor: pointer;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $primary-color;
      }
    }
  }

  @media only screen and (max-width: 400px) {
    width: 100%;
  }
}

.under-section {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
  width: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  padding: 50px 0 40px;

  .under-sub-section {
    width: 302px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .btn-submit-parent {
      width: 231px;

      button {
        width: 100%;
      }
    }

    .under-bottom-message {
      font-size: 18px;
      text-align: center;
      margin: 13px 0 0;
    }
  }
}

