<section class="list-content d-flex justify-center">
  <div class="main-list-content">
    <div class="sub-list-content">
      <div *ngFor="let option of list; let key = index" [ngClass]="{'last-list-child': key+ 1 === list.length}" class="little-list-content">
        <p class="list-title">
          {{ option.name }}
        </p>
        <div>
          <div *ngFor="let ingredient of option.ingredients" class="ingredient-list d-flex justify-space-between">
            <div class="ingredient-name" [ngClass]="{'is-deleted' :ingredient.isDeleted}" (click)="addFood(ingredient); ingredient.isSelected = !ingredient.isSelected">
              {{ ingredient.name }}
            </div>
            <div class="checkbox-section d-flex align-items-center">
              <mat-checkbox class="custom-frame"
                            color="primary"
                            [(ngModel)]="ingredient.isSelected"
                            (change)="addFood(ingredient)">
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="extra-title">
        Add Extras
      </div>
      <div class="extra-section">
        <div class="extra-attribute d-flex" *ngFor="let attribute of extraAttributes; let key = index">
          <div class="extra-number">
            {{ key + 1 }}
          </div>
          <div class="attribute-name">
            {{ attribute.name }}
          </div>
        </div>
        <div class="extra-attribute d-flex">
          <div class="extra-number">
            <span class="d-flex align-items-center">
              {{ extraAttributes.length + 1 }}
            </span>
          </div>
          <div>
            <mat-form-field class="extra-input">
              <input matInput [(ngModel)]="extraAttribute.name" (keyup)="addExtraAttribute($event)" />
            </mat-form-field>
          </div>
          <div class="error-message" *ngIf="extraAttribute.error">
            Attribute name is required
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="under-section">
  <div class="under-sub-section">
    <div class="btn-submit-parent d-flex justify-center">
      <button class="btn-submit"  mat-button>
        Shop online
      </button>
    </div>
  </div>
</div>
