@font-face {
  font-family: sofia-pro;
  src: url("../src/assets/public/fonts/Sofia Pro Regular.ttf");
}

@import 'variables';

// Custom Theming for Angular Material
@import 'theme';

@import "~angular-calendar/scss/angular-calendar.scss";

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }


.d-flex {
  display: flex !important;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-flex-end {
  justify-content: flex-end !important;
}

.justify-space-around {
  justify-content: space-around !important;
}

.align-items-center {
  align-items: center;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right !important;
}

.full-width {
  width: 100% !important;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;

  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.mt-150 {
  margin-top: 150px !important;
}

.title {
  text-align: center;
  font-size: 45px;
  color: #1D1D1B;
  margin-bottom: 91px !important;
  line-height: 50px;
}

.page-sub-title {
  color: $modo-gray;
}

.btn-submit {
  //padding: 10px 108px;
  width: 100%;
  height: 46px;
  border-radius: 50px !important;;
  color: white;
  background: $primary-color;
  background: linear-gradient(45deg, $primary-color 0%, rgba(5,160,231,1) 35%, $accent-color 100%);
  box-shadow: 6px 6px 20px rgba(124, 124, 124, 0.25);
  border: unset;
  outline: unset;
  cursor: pointer;
}

.main-content {
  width: 302px;
}

.auth-main-form {
  width: 100%;

  .form-height {

    .auth-form {
      .auth-input {
        margin-top: 5px;
      }

      .auth-label {
        color: #707070;
      }
    }
  }
  .register-form {
    margin-bottom: 19.64px
  }
}

.under-form-text {
  a {
    color: #2695F9;
    text-decoration: unset;
  }
}

.form-buttons {
  margin-top: 95px;
  .sign-in-help {

    .sign-with-google {
      margin-bottom: 10px;
    }

    .circle {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;

      .circle-btn {
        border: unset;
        outline: unset;
        font-size: 17px;
        line-height: 26px;
        min-width: 26px;
        background-color: $modo-gray;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .sign-in-tool {
      color: $modo-gray;
      line-height: 26px;

      label {
        cursor: pointer;
      }
    }
  }
}

.register-form-buttons {
  margin-top: 112.64px;
}

.forgot-password-buttons {
  margin-top: 276.64px;
}

.auth-btn {
  margin-top: 20px;
  text-align: center;
}

.form-footer {
  margin-top: 13px;
  text-align: center;

  .auth-url {
    font-size: 17px;
    text-decoration: unset;
    color: #2695F9;
  }
}

@media only screen and (max-width: 420px) {
  .title-header {
    display: flex;
    justify-content: center;

    .title {
      width: 60%;
      min-height: 99.2px;
      margin-bottom: 50px !important;
    }
  }

  .auth-content {
    padding-top: 95px !important;
  }

  .btn-submit {
    width: 70%;
  }

  .form-buttons {
    margin-top: 110px;
  }

  .register-form-buttons {
    margin-top: 130.64px;
  }

  .forgot-password-buttons {
    margin-top: 291.64px;
  }
}

@media only screen and (max-width: 350px) {
  .auth-main-form {

    .main-content {
      width: 280px;
    }
  }
}

// Angular Material Customization
// TODO: change drawer backdrop color with angular material variable
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba($modo-gray, 0.3);
}

.mat-drawer-content {
  background: #ffffff;
}

.mat-form-field-appearance-legacy {
  .mat-form-field-underline {
    background-color: $underline-color;
  }
}

.mat-form-field-infix {
  border-top: 0;
  color: #707070;

  .mat-select-value {
    color: #707070;
  }
}

.mat-form-field-flex {
  padding-bottom: 5px;
}

.mat-list-item-content {
  justify-content: flex-end !important;
  padding: 0 !important;
}

@media only screen and (max-width: 420px) {
  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: 55px !important;
  }
}
