@import 'variables';
@import "~angular-calendar/scss/angular-calendar.scss";

// Custom Theming for Angular Material
@import 'theme';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-flex {
  display: flex !important;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-flex-end {
  justify-content: flex-end !important;
}

.justify-space-around {
  justify-content: space-around !important;
}

.align-items-center {
  align-items: center;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right !important;
}

.full-width {
  width: 100% !important;
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;

  @media only screen and (max-width: 900px) {
    width: 100%;
  }
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.mt-150 {
  margin-top: 150px !important;
}

.title {
  text-align: center;
  font-size: 45px;
  color: #1D1D1B;
  margin-bottom: 91px !important;
  line-height: 50px;
}

.mat-drawer-content {
  background: #ffffff;
}

.page-sub-title {
  color: $modo-gray;
}

.btn-submit {
  //padding: 10px 108px;
  width: 100%;
  height: 46px;
  border-radius: 50px !important;;
  color: white;
  background: $primary-color;
  background: linear-gradient(45deg, $primary-color 0%, rgba(5,160,231,1) 35%, $accent-color 100%);
  box-shadow: 6px 6px 20px rgba(124, 124, 124, 0.25);
  border: unset;
  outline: unset;
  cursor: pointer;
}

.main-content {
  width: 302px;
}

.auth-main-form {
  width: 100%;

  .form-height {

    .auth-form {
      .auth-input {
        margin-top: 5px;
      }

      .auth-label {
        color: #707070;
      }
    }
  }
  .register-form {
    margin-bottom: 19.64px
  }
}

.under-form-text {
  a {
    color: #2695F9;
    text-decoration: unset;
  }
}

.form-buttons {
  margin-top: 95px;
  .sign-in-help {

    .sign-with-google {
      margin-bottom: 10px;
    }

    .circle {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;

      .circle-btn {
        border: unset;
        outline: unset;
        font-size: 17px;
        line-height: 26px;
        min-width: 26px;
        background-color: $modo-gray;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .sign-in-tool {
      color: $modo-gray;
      line-height: 26px;

      label {
        cursor: pointer;
      }
    }
  }
}

.register-form-buttons {
  margin-top: 112.64px;
}

.forgot-password-buttons {
  margin-top: 276.64px;
}

.auth-btn {
  margin-top: 20px;
  text-align: center;
}

.form-footer {
  margin-top: 13px;
  text-align: center;

  .auth-url {
    font-size: 17px;
    text-decoration: unset;
    color: #2695F9;
  }
}

.mat-list-item-content {
  justify-content: flex-end !important;
  padding: 0 !important;
}


@media only screen and (max-width: 420px) {
  .title-header {
    display: flex;
    justify-content: center;

    .title {
      width: 60%;
      min-height: 99.2px;
      margin-bottom: 50px !important;
    }
  }

  .auth-content {
    padding-top: 95px !important;
  }

  .btn-submit {
    width: 70%;
  }

  .form-buttons {
    margin-top: 110px;
  }

  .register-form-buttons {
    margin-top: 130.64px;
  }

  .forgot-password-buttons {
    margin-top: 291.64px;
  }

  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: 55px !important;
  }
}

@media only screen and (max-width: 350px) {
  .auth-main-form {

    .main-content {
      width: 280px;
    }
  }
}

// TODO: change drawer backdrop color with angular material variable
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba($modo-gray, 0.3);
}

// Angular Calendar
.cal-month-view {
  .cal-header {
    text-align: center;
    font-weight: unset;
  }

  .cal-header .cal-cell {
    padding: 5px 0;
    overflow: hidden;
    color: #8B8B8B;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    text-overflow: unset;
    white-space: nowrap;
  }

  .cal-days {
    border: unset;
  }

  .cal-cell-top {
    min-height: 43px;
    flex: 1;
  }

  .cal-cell-row {
    display: flex;
  }

  .cal-cell {
    float: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .cal-event {
      pointer-events: all !important;
    }
  }

  .cal-day-cell {
    min-height: 43px;

    // ie11 hack for https://github.com/mattlewis92/angular-calendar/issues/501
    @media all and (-ms-high-contrast: none) {
      display: block;
    }

    &.cal-today {
      background-color: unset;
      font-size: 16px;
      opacity: 1;
    }
  }

  .cal-day-cell:not(:last-child) {
    border-right: unset;
  }

  .cal-days .cal-cell-row {
    border-bottom: unset;
    background-color: #ffffff;
  }

  .cal-day-badge {
    margin-top: 18px;
    margin-left: 10px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
  }

  .cal-day-number {
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    margin-right: unset;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    float: unset;
    color: $cal-cell-color;
    position: relative;
  }

  .cal-events {
    flex: 1;
    align-items: flex-end;
    margin: 3px;
    line-height: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .cal-event {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
  }

  .cal-day-cell.cal-in-month.cal-has-events {
    cursor: pointer;
  }

  .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 0.1;
    cursor: default;
  }

  .cal-day-cell.cal-today .cal-day-number {
    font-size: 16px;
  }

  .cal-open-day-events {
    padding: 15px;
  }

  .cal-open-day-events .cal-event {
    position: relative;
    top: 2px;
  }

  .cal-out-month {
    .cal-day-badge,
    .cal-event {
      opacity: 0.3;
    }
  }

  .cal-draggable {
    cursor: move;
  }

  .cal-drag-active * {
    pointer-events: none;
  }

  .cal-event-title {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
