@import 'variables';

// Custom Theming for Angular Material
@import 'theme';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-flex {
  display: flex !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-flex-end {
  justify-content: flex-end;
}

.full-width {
  width: 100% !important;
}

.mt-150 {
  margin-top: 150px !important;
}

.title {
  font-size: 45px;
  color: #1D1D1B;
  margin-bottom: 91px !important;
  line-height: 50px;
}


.btn-submit {
  //padding: 10px 108px;
  width: 100%;
  height: 46px;
  border-radius: 50px;
  color: white;
  background: $primary-color;
  background: linear-gradient(45deg, $primary-color 0%, rgba(5,160,231,1) 35%, $accent-color 100%);
  box-shadow: 6px 6px 20px rgba(124, 124, 124, 0.25);
  border: unset;
  outline: unset;
  cursor: pointer;
}

.auth-main-form {
  width: 100%;
  .main-content {
    width: 302px;
  }
  .form-height {

    .auth-form {
      .auth-input {
        margin-top: 5px;
      }

      .auth-label {
        color: #707070;
      }
    }
  }
  .register-form {
    margin-bottom: 19.64px
  }
}

.under-form-text {
  a {
    color: #2695F9;
    text-decoration: unset;
  }
}

.form-buttons {
  margin-top: 95px;
  .sign-in-help {

    .sign-with-google {
      margin-bottom: 10px;
    }

    .circle {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;

      .circle-btn {
        border: unset;
        outline: unset;
        font-size: 17px;
        line-height: 26px;
        min-width: 26px;
        background-color: #8B8B8B;
        color: #fff;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .sign-in-tool {
      color: #8B8B8B;
      line-height: 26px;

      label {
        cursor: pointer;
      }
    }
  }
}

.register-form-buttons {
  margin-top: 112.64px;
}

.forgot-password-buttons {
  margin-top: 276.64px;
}

.auth-btn {
  margin-top: 20px;
}

.form-footer {
  margin-top: 13px;

  .auth-url {
    font-size: 17px;
    text-decoration: unset;
    color: #2695F9;
  }
}

.mat-list-item-content {
  justify-content: flex-end !important;
  padding: 0 !important;
}


@media only screen and (max-width: 420px) {
  .title-header {
    display: flex;
    justify-content: center;

    .title {
      width: 60%;
      min-height: 99.2px;
      margin-bottom: 50px !important;
    }
  }

  .content {
    padding-top: 95px !important;
  }

  .btn-submit {
    width: 70%;
  }

  .form-buttons {
    margin-top: 60px;
  }

  .register-form-buttons {
    margin-top: 80.64px;
  }

  .forgot-password-buttons {
    margin-top: 240.64px;
  }

  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: 55px !important;
  }
}

@media only screen and (max-width: 350px) {
  .auth-main-form {

    .main-content {
      width: 280px;
    }
  }
}
