@import '../../../variables';

.main-content-diet-plan {
  margin-right: -20px;

  .week-days {
    width: 358px;
    font-size: 18px;

    .current-week-day {
      color: #707070;
      font-weight: bold;
    }

    .week-day {
      color: $modo-gray;
      cursor: pointer;
    }

    @media only screen and (max-width: 620px) {
      width: 273px;
      font-size: 15px;
    }
  }

  .diet-is-done {
    min-width: 370px;
    display: flex;
    flex-direction: column;

    .done-diet {
      display: flex;
      padding: 0 20px;

      .sub-done {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 20px 14px;
        border-bottom: 1px solid $modo-gray;

        .check-circle {
          width: 16px;
          height: 16px;
        }

        .drop-down-arrow {
          cursor: pointer;
          color: #B2B2B2;
        }
      }
    }

    @media only screen and (max-width: 820px) {
      margin-top: 30px;
      width: 100%;

      .diet-plan {
        padding-bottom: 30px;
        border-bottom: 1px solid $modo-gray;
      }
    }

    @media only screen and (max-width: 620px) {
      min-width: 100%;
      width: 100%;
    }
  }

  .diet-plan {
    min-width: 370px;
    opacity: 0.5;
    transition: all 1s ease;

    &:hover {
      opacity: 1;
    }

    &.current-plan {
      opacity: 1;
    }

    .plan-title {
      font-size: 18px;
      padding-left: 14px;
    }

    .plan-buttons {
      padding: 8px 0;

      .share-circle {
        margin-right: 14px;
      }
    }

    .background-image {
      width: 100%;
      height: 159.89px;
      position: relative;
      margin: 12px 0 0;
      background-repeat: no-repeat;
      background-size: cover;

      .circle {
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        position: absolute;
        right: -20px;
        top: 40%;
        box-shadow: 0 3px 6px rgba(167, 167, 167, 0.86);
        border-radius: 50%;
      }
    }

    @media only screen and (max-width: 620px) {
      margin-top: 20px;
      width: 100%;
      min-width: 100%;
    }
  }

  .diet-plan-slider {
    padding-right: 82px;
    transition: all 0.5s ease;

    &:last-child {
      padding-right: unset;
    }

    @media only screen and (max-width: 620px) {
      padding: 0;
    }
  }

  .diet-ingredients {
    padding-bottom: 28px;
    background-color: #ECECEC;
    position: relative;

    .diet-ingredient {
      margin-top: 40px;
    }
  }

  .plan-bottom-buttons {
    position: absolute;
    bottom: -20px;

    .plan-sub-buttons {
      width: 241px;

      .plan-button {
        width: 104px;
        height: 34.12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14px;
        color: #ffffff;
      }

      .gray-button {
        background-color: $underline-color;
      }
    }
  }

  .w-calc {
    width: calc(100% - 370px);

    @media only screen and (max-width: 820px) {
      padding-top: 30px;
      width: 100%;
    }
  }

  .all-diet-info {
    padding-top: 30px;
  }

  .diet-plans {
    overflow: auto;
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: flex;
    transition: all 0.5s ease;

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #ffffff;
    }

    &::-webkit-scrollbar
    {
      width: 0;
      background-color: #ffffff
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      background-color: #ffffff;
    }

    //&:hover {
    //  &::-webkit-scrollbar-thumb {
    //    background-color: #D5D5D5;
    //  }
    //}

    @media only screen and (max-width: 620px) {
      flex-wrap: wrap;

      .diet-plan {
        border-bottom: 1px solid $modo-gray;
      }
    }

    @media only screen and (max-width: 1223px) {
      padding: 0 20px 10px;
      margin-bottom: 0;
      .diet-plan {
        padding-bottom: 30px;
      }
    }
  }

  .diet-plan-submit {
    width: 288px;
  }

  .diet-sub-ingredients {
    height: 189.3px;
    overflow: auto;
    padding: 0 10px;

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #ECECEC;
    }

    &::-webkit-scrollbar
    {
      width: 0;
      background-color: #ECECEC
    }

    &::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      background-color: #D5D5D5;
    }

    //&:hover {
    //  &::-webkit-scrollbar-thumb {
    //    background-color: #D5D5D5;
    //  }
    //}
  }

  @media only screen and(max-width: 620px) {
    margin-right: 0;
  }
}
