<section class="main-content-diet-plan">
  <div class="week-tabs">
    <mat-tab-group>
      <mat-tab *ngFor="let dayData of dietPlans;let key = index" [label]="dayData.weekName">
        <div class="all-diet-info" [ngClass]="{'d-flex': dayData.doneDietPlan.length > 0}">
          <div class="diet-is-done" *ngIf="dayData.doneDietPlan.length > 0">
            <div *ngFor="let doneDiet of dayData.doneDietPlan; let index = index" class="done-diet">
              <div class="sub-done">
                <div class="d-flex w-90">
                  <div class="w-25">
                    {{ doneDiet.title }}
                  </div>
                  <div class="w-10">
                    <mat-icon color="primary" class="check-circle">check_circle</mat-icon>
                  </div>
                </div>
                <div>
                  <mat-icon class="drop-down-arrow" (click)="notDone(doneDiet, index, key)">arrow_drop_down</mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]="{'w-calc': dayData.doneDietPlan.length > 0}">
            <div class="diet-plans">
              <div *ngFor="let dietPlan of dayData.dietPlan; let i = index" class="diet-plan diet-plan-slider " [ngClass]="{'current-plan': dietPlan.active}">
                <div class="d-flex justify-space-between align-items-center diet-plan-header">
                  <div class="plan-title">
                    {{ dietPlan.title }}
                  </div>
                  <div class="plan-buttons d-flex justify-flex-end">
                    <button mat-mini-fab color="primary" class="share-circle">
                      <mat-icon>share</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" (click)="openCheatMeals(dietPlan)">
                      <img src="../../../assets/public/icons/hamburger.svg" alt="">
                    </button>
                  </div>
                </div>

                <div class="background-image" [style]="dietPlan.image">
                  <button mat-mini-fab class="circle d-flex justify-center align-items-center" (click)="openRecipe(dietPlan.recipe, dietPlan.image, dietPlan.suggestion)">
                    <img src="../../../assets/public/icons/spoon-paper.svg" alt="recipe">
                  </button>
                </div>

                <div class="diet-ingredients d-flex justify-center">
                  <div class="w-75 diet-sub-ingredients">
                    <div *ngFor="let ingredient of dietPlan.ingredients" class="d-flex justify-space-between diet-ingredient">
                      <div>
                        {{ ingredient.name }}
                      </div>

                      <div>
                        <img src="../../../assets/public/icons/arrows-right-left.svg" alt="arrows-right-left">
                      </div>
                    </div>
                  </div>

                  <div class="plan-bottom-buttons d-flex justify-center">
                    <div class="plan-sub-buttons d-flex justify-space-between">
                      <button class="plan-button gray-button"
                              (click)="dietIsMissed(dietPlan, key, dayData, i)"
                              mat-raised-button
                      >
                        missed
                      </button>
                      <button class="plan-button gray-button"
                              [ngClass]="{'gray-button': !dietPlan.active}"
                              [color]="dietPlan.active && 'primary'"
                              (click)="dietIsDone(dietPlan, key, dayData, i)"
                              mat-raised-button
                      >
                        done
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <section class="d-flex justify-center">
              <div class="diet-plan-submit d-flex justify-center">
                <button class="btn-submit" mat-button (click)="orderFood()">
                  order food
                </button>
              </div>
            </section>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
