<section class="overview-main-section">
  <div>
    <div class="d-flex justify-center">
      <div class="overview-sub-section">
        <div class="overview-sub-title">
          Start
        </div>
        <div class="sub-circle">56kg</div>
        <div class="sub-footer">Dec 6, 18</div>
      </div>
      <div class="main-section">
        <div class="main-circle-content">
          <mat-progress-spinner
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [diameter]="153"
            [value]="value">
          </mat-progress-spinner>
          <div class="main-circle-data">
            <div class="sub-percent-circle">
              {{ value }}%
            </div>
            <div class="main-mass">54kg</div>
            <div class="main-date">Dec 12, 18</div>
          </div>
        </div>
      </div>
      <div class="overview-sub-section">
        <div class="overview-sub-title">
          Target
        </div>
        <div class="sub-circle">52kg</div>
        <div class="sub-footer">Dec 6, 18</div>
      </div>
    </div>
  </div>

  <div class="calendar-section d-flex justify-center">

    <div class="main-calendar first-prev-calendar">
      <div class="calendar">
        <p class="calendar-title">
          {{ prevMonthName }}
        </p>
        <app-calendar-month-view
          [viewDate]="prevDate"
          [weekStartsOn]="1"
          [rightDietData]="rightDietData"
          [refresh]="refresh"
        >
        </app-calendar-month-view>
      </div>
      <div class="d-flex">
        <div class="d-flex">
          <div class="right-food"></div>
          <div>
            Right Food
          </div>
        </div>
        <div class="d-flex">
          <div class="right-amount"></div>
          <div>
            Right Amount
          </div>
        </div>
      </div>

    </div>

    <div class="main-calendar">
      <div class="calendar">
        <p class="calendar-title align-right">
          {{ currentMonthName }}
        </p>
        <app-calendar-month-view
          [viewDate]="currentDate"
          [weekStartsOn]="1"
          [rightDietData]="rightDietData"
          [refresh]="refresh"
        >
        </app-calendar-month-view>
      </div>

      <div class="calendar-bottom-info d-flex">
        <div class="d-flex">
          <div class="right-food"></div>
          <div>
            Right Food
          </div>
        </div>
        <div class="d-flex">
          <div class="right-amount"></div>
          <div>
            Right Amount
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="bottom-add-button d-flex justify-center">
    <div class="bottom-plus" (click)="openRatingPopUp()">
      +
    </div>
    <div class="d-flex align-items-center">
      Add today’s eterie
    </div>
  </div>

</section>
