@import '../../../variables';

.main-section {
  margin: 0 40px;

  .main-circle-content {
    position: relative;

    .main-circle-data {
      position: absolute;
      top: 0;
      left: 0;
      width: 153px;
      height: 153px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .sub-percent-circle {
        width: 42px;
        height: 42px;
        background: #ECECEC;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        color: $primary-color;
      }

      .main-mass {
        padding: 7px 0 17px;
        font-size: 29px;
      }

      .main-date {
        font-size: 13px;
        color: #868686;
      }
    }
  }

  @media only screen and (max-width: 620px) {
    margin: 0 20px;

    .main-circle-content {

      .main-mass {
        font-size: 25px !important;
        margin-top: 5px;
      }
    }
  }
}

.overview-sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .sub-circle {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECECEC;
    margin: 7px 0 15px;

    @media (max-width: 620px) {
      width: 52px;
      height: 52px;
      font-size: 12px;
    }
  }

  .sub-footer, .overview-sub-title  {
    color: #868686;
    font-size: 13px;

    @media (max-width: 620px) {
      font-size: 12px;
    }
  }
}

.calendar-section {
  margin-top: 58px;


  .main-calendar {
    padding: 0 112px;

    .calendar {
      width: 408px;
      height: 325px;
      overflow: hidden;

      .calendar-title {
        font-size: 22px;
      }
    }

    .right-food {
      width: 18px;
      height: 18px;
      border: 3px solid #CEFFEE;
      border-left-color: $primary-color;
      border-top-color: $primary-color;
      border-radius: 50%;
      margin-right: 10px;
      transform: rotate(310deg);
    };

    .right-amount {
      width: 18px;
      height: 18px;
      border: 3px solid #CEFFEE;
      border-left-color: $accent-color;
      border-top-color: $accent-color;
      border-radius: 50%;
      margin-right: 10px;
      transform: rotate(130deg);
      margin-left: 54px;
    };

    @media only screen and (max-width: 620px) {
      padding: 0;

      .calendar {
        width: 100%;
      }
    }
  }


  @media only screen and (max-width: 620px) {

    .calendar {
      padding: 0;
      width: 100%;
    }
  }
}

.bottom-add-button {
  padding-top: 48px;
  padding-bottom: 20px;

  .bottom-plus {
    background: $primary-color;
    background: linear-gradient(45deg, $primary-color 0%, rgba(5,160,231,1) 35%, $accent-color 100%);
    color: #ffffff;
    width: 27px;
    cursor: pointer;
    height: 27px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 770px) and (min-width: 620px) {

  .overview-main-section {
    margin-top: 60px;
  }

  .main-section {
    padding: 0 30px;
  }

  .calendar-section {

    .main-calendar {

      .calendar {
        width: 483px;
        height: 410px;
      }
    }
  }

  .overview-sub-section {

    .sub-circle {
      width: 84px;
      height: 84px;
      font-size: 18px;
    }
  }

  .first-prev-calendar, .calendar-title {

    display: none;
  }

  .calendar-bottom-info {
    margin-top: 70px;
    justify-content: space-between;
  }
}

@media (max-width: 620px) {

  .first-prev-calendar, .calendar-title {

    display: none;
  }
}
